<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Code:</b>
  <%= @team.code %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to '新增球員', :controller => 'players', :action => 'index', :id => params[:id] %>
