<h1>Listing records</h1>

<table>
  <tr>
    <th>Player</th>
    <th>Game</th>
    <th>Free throw made</th>
    <th>Free throw miss</th>
    <th>Free throw total</th>
    <th>Two points made</th>
    <th>Two points made</th>
    <th>Two points total</th>
    <th>Three points made</th>
    <th>Three points miss</th>
    <th>Three points total</th>
    <th>Assist</th>
    <th>Block</th>
    <th>Turn over</th>
    <th>Steal</th>
    <th>Defensive rebound</th>
    <th>Offensive rebound</th>
    <th>Rebound total</th>
    <th>Personal foul</th>
    <th>Points total</th>
    <th>Efficiency formula</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @records.each do |record| %>
  <tr>
    <td><%= Player.find(record.player_id).name %></td>
    <td><%= Game.find(record.game_id).name %></td>
    <td><%= record.free_throw_made %></td>
    <td><%= record.free_throw_miss %></td>
    <td><%= record.free_throw_total %></td>
    <td><%= record.two_points_made %></td>
    <td><%= record.two_points_made %></td>
    <td><%= record.two_points_total %></td>
    <td><%= record.three_points_made %></td>
    <td><%= record.three_points_miss %></td>
    <td><%= record.three_points_total %></td>
    <td><%= record.assist %></td>
    <td><%= record.block %></td>
    <td><%= record.turn_over %></td>
    <td><%= record.steal %></td>
    <td><%= record.defensive_rebound %></td>
    <td><%= record.offensive_rebound %></td>
    <td><%= record.rebound_total %></td>
    <td><%= record.personal_foul %></td>
    <td><%= record.points_total %></td>
    <td><%= record.efficiency_formula %></td>
    <td><%= link_to 'Show', record %></td>
    <td><%= link_to 'Edit', edit_record_path(record) %></td>
    <td><%= button_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Record', new_record_path %>
<%= link_to 'index', team_users_path %>