<%- model_class = Record -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:player_id) %></th>
      <th><%= model_class.human_attribute_name(:game_id) %></th>
      <th><%= model_class.human_attribute_name(:free_throw_made) %></th>
      <th><%= model_class.human_attribute_name(:free_throw_miss) %></th>
      <th><%= model_class.human_attribute_name(:free_throw_total) %></th>
      <th><%= model_class.human_attribute_name(:two_points_made) %></th>
      <th><%= model_class.human_attribute_name(:two_points_total) %></th>
      <th><%= model_class.human_attribute_name(:three_points_made) %></th>
      <th><%= model_class.human_attribute_name(:three_points_miss) %></th>
      <th><%= model_class.human_attribute_name(:three_points_total) %></th>
      <th><%= model_class.human_attribute_name(:assist) %></th>
      <th><%= model_class.human_attribute_name(:block) %></th>
      <th><%= model_class.human_attribute_name(:turn_over) %></th>
      <th><%= model_class.human_attribute_name(:steal) %></th>
      <th><%= model_class.human_attribute_name(:defensive_rebound) %></th>
      <th><%= model_class.human_attribute_name(:offensive_rebound) %></th>
      <th><%= model_class.human_attribute_name(:rebound_total) %></th>
      <th><%= model_class.human_attribute_name(:personal_foul) %></th>
      <th><%= model_class.human_attribute_name(:points_total) %></th>
      <th><%= model_class.human_attribute_name(:efficiency_formula) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= link_to record.id, record_path(record) %></td>
        <td><%= record.player_id %></td>
        <td><%= record.game_id %></td>
        <td><%= record.free_throw_made %></td>
        <td><%= record.free_throw_miss %></td>
        <td><%= record.free_throw_total %></td>
        <td><%= record.two_points_made %></td>
        <td><%= record.two_points_total %></td>
        <td><%= record.three_points_made %></td>
        <td><%= record.three_points_miss %></td>
        <td><%= record.three_points_total %></td>
        <td><%= record.assist %></td>
        <td><%= record.block %></td>
        <td><%= record.turn_over %></td>
        <td><%= record.steal %></td>
        <td><%= record.defensive_rebound %></td>
        <td><%= record.offensive_rebound %></td>
        <td><%= record.rebound_total %></td>
        <td><%= record.personal_foul %></td>
        <td><%= record.points_total %></td>
        <td><%= record.efficiency_formula %></td>
        <td><%=l record.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_record_path(record), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      record_path(record),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_record_path,
            :class => 'btn btn-primary' %>
