<%= form_for @record, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :player_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :player_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :game_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :game_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :free_throw_made, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :free_throw_made, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :free_throw_miss, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :free_throw_miss, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :free_throw_total, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :free_throw_total, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :two_points_made, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :two_points_made, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :two_points_total, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :two_points_total, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :three_points_made, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :three_points_made, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :three_points_miss, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :three_points_miss, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :three_points_total, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :three_points_total, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :assist, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :assist, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :block, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :block, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :turn_over, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :turn_over, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :steal, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :steal, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :defensive_rebound, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :defensive_rebound, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :offensive_rebound, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :offensive_rebound, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rebound_total, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :rebound_total, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :personal_foul, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :personal_foul, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :points_total, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :points_total, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :efficiency_formula, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :efficiency_formula, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                record_path, :class => 'btn' %>
  </div>
<% end %>
