<%= form_for(@record) do |f| %>
  <% if @record.errors.any? %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</strong>

      <ul>
      <% @record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player_name %>
    <%= f.collection_select :player_id, Player.where(:team_id => current_team_user.id).order(:name),:id,:name, include_blank: true %>
  </div>
  <div class="field" style="display:none">
    <%= f.label :game_id %><br />
    <%= f.number_field :game_id %>
  </div>
  <div class="field">
    <%= f.label "罰球-得分!" %><br />
    <%= f.number_field :free_throw_made,:data=>{:progression=>"",:helper=>"罰球-得分"} %>
  </div>
  <div class="field">
    <%= f.label "罰球-失誤" %><br />
    <%= f.number_field :free_throw_miss,:data=>{:progression=>"",:helper=>"罰球-失誤"}%>
  </div>
  <div class="field">
    <%= f.label "罰球-總出手" %><br />
    <%= f.number_field :free_throw_total,:data=>{:progression=>"",:helper=>"罰球-總出手"} %>
  </div>
  <div class="field">
    <%= f.label "兩分球-得分" %><br />
    <%= f.number_field :two_points_made ,:data=>{:progression=>"",:helper=>"兩分球-得分"}%>
  </div>
  <div class="field">
    <%= f.label "兩分球-失分" %><br />
    <%= f.number_field :two_points_miss ,:data=>{:progression=>"",:helper=>"兩分球-失分"}%>
  </div>
  <div class="field">
    <%= f.label "兩分球-總出手" %><br />
    <%= f.number_field :two_points_total ,:data=>{:progression=>"",:helper=>"兩分球-總出手"}%>
  </div>
  <div class="field">
    <%= f.label "三分球-得分" %><br />
    <%= f.number_field :three_points_made ,:data=>{:progression=>"",:helper=>"三分球-得分"} %>
  </div>
  <div class="field">
    <%= f.label "三分球-失誤" %><br />
    <%= f.number_field :three_points_miss ,:data=>{:progression=>"",:helper=>"三分球-失誤"} %>
  </div>
  <div class="field">
    <%= f.label "三分球-總出手" %><br />
    <%= f.number_field :three_points_total ,:data=>{:progression=>"",:helper=>"三分球-總出手"} %>
  </div>
  <div class="field">
    <%= f.label "助攻" %><br />
    <%= f.number_field :assist %>
  </div>
  <div class="field">
    <%= f.label "火鍋" %><br />
    <%= f.number_field :block %>
  </div>
  <div class="field">
    <%= f.label "失誤" %><br />
    <%= f.number_field :turn_over %>
  </div>
  <div class="field">
    <%= f.label "抄截" %><br />
    <%= f.number_field :steal %>
  </div>
  <div class="field">
    <%= f.label "防守籃板" %><br />
    <%= f.number_field :defensive_rebound %>
  </div>
  <div class="field">
    <%= f.label "進攻籃板" %><br />
    <%= f.number_field :offensive_rebound %>
  </div>
  <div class="field">
    <%= f.label "總籃板數" %><br />
    <%= f.number_field :rebound_total %>
  </div>
  <div class="field">
    <%= f.label "個人失誤" %><br />
    <%= f.number_field :personal_foul %>
  </div>
  <div class="field">
    <%= f.label "總分" %><br />
    <%= f.number_field :points_total %>
  </div>
  <div class="field">
    <%= f.label :efficiency_formula %><br />
    <%= f.number_field :efficiency_formula %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
