<%= form_for(@record) do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player_name %>
    <%= f.collection_select :player_id, Player.where(:team_id => current_team_user.id).order(:name),:id,:name, include_blank: true %>
  </div>
  <div class="field" style="display:none">
    <%= f.label :game_id %><br />
    <%= f.number_field :game_id %>
  </div>
  <div class="field">
    <%= f.label :free_throw_made %><br />
    <%= f.number_field :free_throw_made ,:value => 0 %>
  </div>
  <div class="field">
    <%= f.label :free_throw_miss %><br />
    <%= f.number_field :free_throw_miss ,:value => 0%>
  </div>
  <div class="field">
    <%= f.label :free_throw_total %><br />
    <%= f.number_field :free_throw_total ,:value => 0%>
  </div>
  <div class="field">
    <%= f.label :two_points_miss %><br />
    <%= f.number_field :two_points_miss ,:value => 0%>
  </div>
  <div class="field">
    <%= f.label :two_points_made %><br />
    <%= f.number_field :two_points_made ,:value => 0 %>
  </div>
  <div class="field">
    <%= f.label :two_points_total %><br />
    <%= f.number_field :two_points_total,:value => 0 %>
  </div>
  <div class="field">
    <%= f.label :three_points_made %><br />
    <%= f.number_field :three_points_made,:value => 0 %>
  </div>
  <div class="field">
    <%= f.label :three_points_miss %><br />
    <%= f.number_field :three_points_miss ,:value => 0%>
  </div>
  <div class="field">
    <%= f.label :three_points_total %><br />
    <%= f.number_field :three_points_total,:value => 0 %>
  </div>
  <div class="field">
    <%= f.label :assist %><br />
    <%= f.number_field :assist,:value => 0 %>
  </div>
  <div class="field">
    <%= f.label :block %><br />
    <%= f.number_field :block ,:value => 0%>
  </div>
  <div class="field">
    <%= f.label :turn_over %><br />
    <%= f.number_field :turn_over ,:value => 0%>
  </div>
  <div class="field">
    <%= f.label :steal %><br />
    <%= f.number_field :steal ,:value => 0%>
  </div>
  <div class="field">
    <%= f.label :defensive_rebound %><br />
    <%= f.number_field :defensive_rebound ,:value => 0%>
  </div>
  <div class="field">
    <%= f.label :offensive_rebound %><br />
    <%= f.number_field :offensive_rebound,:value => 0 %>
  </div>
  <div class="field">
    <%= f.label :rebound_total %><br />
    <%= f.number_field :rebound_total,:value => 0 %>
  </div>
  <div class="field">
    <%= f.label :personal_foul %><br />
    <%= f.number_field :personal_foul ,:value => 0%>
  </div>
  <div class="field">
    <%= f.label :points_total %><br />
    <%= f.number_field :points_total %>
  </div>
  <div class="field">
    <%= f.label :efficiency_formula %><br />
    <%= f.number_field :efficiency_formula %>
  </div>
  <div class="field">
    <%= f.label "是否先發" %> <br />
    <%= f.check_box :starter ,:value => false%> <br />
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
