<div class="container">
    <h2><%= @game.name %></h2>
    <hr>
    <div class="pull-right" style="padding-bottom:10px">
    <%= link_to raw("<i class=\"icon-plus-sign icon-white\"></i> 新增數據"), {:controller => 'records', :action => 'new'},:class=> "btn btn-primary", :id => @game%>
    </div>
    <table class="table table-striped  table-bordered">
       <tr>
        <th colspan="2">球員</th>
        <th colspan="3">罰球</th>
        <th colspan="3">投籃</th>
        <th colspan="3">三分球</th>
        <th colspan="2">籃板</th>
        <th colspan="9"></th>
      <tr>
        <td>背號</td>
        <td>姓名</td>
        <td>命中</td>
        <td>失誤</td>
        <td>出手</td>
        <td>命中</td>
        <td>失誤</td>
        <td>出手</td>
        <td>命中</td>
        <td>失誤</td>
        <td>出手</td>
        <td>防守</td>
        <td>進攻</td>
        <td>助攻</td>
        <td>火鍋</td>
        <td>失誤</td>
        <td>抄截</td>
        <td>犯規</td>
        <td>得分</td>
        <td>效率</td>
      </tr>
    <% if @records.any? ==true %>
    <% @records.each do |record| %>
      <tr>
        <td><%= Player.find(record.player_id).number %></td>
        <td><%= Player.find(record.player_id).name %></td>
        <td><%= record.free_throw_made %></td>
        <td><%= record.free_throw_miss %></td>
        <td><%= record.free_throw_total %></td>
        <td><%= record.two_points_made %></td>
        <td><%= record.two_points_miss %></td>
        <td><%= record.two_points_total %></td>
        <td><%= record.three_points_made %></td>
        <td><%= record.three_points_miss %></td>
        <td><%= record.three_points_total %></td>
        <td><%= record.defensive_rebound %></td>
        <td><%= record.offensive_rebound %></td>
        <td><%= record.assist %></td>
        <td><%= record.block %></td>
        <td><%= record.turn_over %></td>
        <td><%= record.steal %></td>
        <td><%= record.personal_foul %></td>
        <td><%= record.points_total %></td>
        <td><%= record.efficiency_formula %></td>

        <% #link_to 'Edit', edit_record_path(record) %>
        <% #button_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } ,:id => record %>
      </tr>
    <% end %>
    <% else %>
        <tr>
            <td colspan="23">
                尚無資料
            </td>
        </tr>
        <% end %>
    </table>

</div>