<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> 2ae54e6475e1d430890d561a949caff189bf135e
<div class="container">
<table class="table table-striped">
   <tr>
    <th colspan="1">賽事資料</th>
    <th colspan="3">罰球</th>
    <th colspan="3">投籃</th>
    <th colspan="3">三分球</th>
    <th colspan="3">籃板</th>
    <th colspan="5"></th>
    <th colspan="2"></th>
<<<<<<< HEAD
=======
    <th></th>

<h1>Listing records</h1>

<table>

>>>>>>> 2ae54e6475e1d430890d561a949caff189bf135e
  <tr>
    <td>球員</td>
    <td>命中</td>
    <td>失誤</td>
    <td>出手</td>
    <td>命中</td>
    <td>失誤</td>
    <td>出手</td>
    <td>命中</td>
    <td>失誤</td>
    <td>出手</td>
    <td>防守</td>
    <td>進攻</td>
    <td>總數</td>
    <td>助攻</td>
    <td>火鍋</td>
    <td>失誤</td>
    <td>抄截</td>
    <td>個人犯規</td>
    <td>總得分</td>
    <td>Efficiency formula</td>
    <td></td>
    <td></td>
  </tr>

<% @records.each do |record| %>
  <tr>
    
    <td><%= Player.find(record.player_id).name %></td>
    <td><%= record.free_throw_made %></td>
    <td><%= record.free_throw_miss %></td>
    <td><%= record.free_throw_total %></td>
    <td><%= record.two_points_made %></td>
    <td><%= record.two_points_miss %></td>
    <td><%= record.two_points_total %></td>
    <td><%= record.three_points_made %></td>
    <td><%= record.three_points_miss %></td>
    <td><%= record.three_points_total %></td>
    <td><%= record.defensive_rebound %></td>
    <td><%= record.offensive_rebound %></td>
    <td><%= record.rebound_total %></td>
    <td><%= record.assist %></td>
    <td><%= record.block %></td>
    <td><%= record.turn_over %></td>
    <td><%= record.steal %></td>
    <td><%= record.personal_foul %></td>
    <td><%= record.points_total %></td>
    <td><%= record.efficiency_formula %></td>
    <td><%= link_to 'Edit', edit_record_path(record) %></td>
    <td><%= button_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } ,:id => record %></td>
    
  </tr>
<% end %>
</table>


<<<<<<< HEAD
<%= link_to 'New Record', new_record_path %>
<%= link_to 'index', team_users_path %>
<%= link_to 'Game', games_path %> |
<%= link_to 'index', team_users_path %>
</div>
=======

</div>

<%= link_to 'Game', games_path %> |
<%= link_to 'index', team_users_path %>

>>>>>>> 2ae54e6475e1d430890d561a949caff189bf135e
=======
<div class="container">
    <h2><%="#{Team.find(@game.h_team_id).name}  vs  #{@game.name}"%></h2>
    <hr>
</div>
<div class="container-fluid">
    <div class="pull-right" style="padding-bottom:10px">
        <% if @statusLevel ==3%>
             <%= link_to raw("<i class=\"icon-plus-sign icon-white\"></i> 新增數據"), {:controller => 'records', :action => 'new', :id => @game},:class=> "btn btn-primary"%>
        <%end%>
    </div>
    <div class="record-info">
        <table class="table table-striped  table-bordered">
            <tr>
                <td>比數：<%= @game.h_team_points %>：<%= @game.g_team_points %></td>
                <td>日期：
                    <% if @game.date_time%>
                      <%= @game.date_time.strftime("%Y-%m-%d") %>
                    <% end%>
                </td>
                <td>地點：<%= @game.location %></td>
            </tr>
        </table>
    </div>
    <table class="table table-striped  table-bordered">
       <tr>
        <th colspan="2">球員</th>
        <th colspan="3">罰球</th>
        <th colspan="3">投籃</th>
        <th colspan="3">三分球</th>
        <th colspan="3">籃板</th>
        <th colspan="10" style="border-left:solid;border-left-color:#999;border-left-width:1px;"></th>
      <tr>
        <td>背號</td>
        <td style="overflow:hidden;width:60px;">姓名</td>
        <td>命中</td>
        <td>未進</td>
        <td>%</td>
        <td>命中</td>
        <td>未進</td>
        <td>%</td>
        <td>命中</td>
        <td>未進</td>
        <td>%</td>
        <td>防守</td>
        <td>進攻</td>
        <td>總數</td>
        <td style="border-left:solid;border-left-color:#999;border-left-width:1px;">助攻</td>
        <td>火鍋</td>
        <td>失誤</td>
        <td>抄截</td>
        <td>犯規</td>
        <td>得分</td>
        <td>效率</td>
        <td></td>
      </tr>
    <% if @records.any? ==true %>
    <% @records.each do |record| %>
    <% if record.starter ==true%>
      <tr>
    <%else%>
      <tr>
    <%end%>
        <td><%= Player.find(record.player_id).number %></td>
        <td style="overflow:hidden;width:60px;"><%= Player.find(record.player_id).name %></td>
        <td><%= record.free_throw_made %></td>
        <td><%= record.free_throw_miss %></td>
        <td>
            <% if record.free_throw_made ==0 %>
                0
            <% else %>
                <%= number_with_precision(record.free_throw_made/(record.free_throw_made+record.free_throw_miss).to_f,:precision => 2) %>
            <%end%>
        </td>
        <td><%= record.two_points_made %></td>
        <td><%= record.two_points_miss %></td>
        <td>
            <% if record.two_points_made ==0 %>
                0
            <% else %>
                <%= number_with_precision(record.two_points_made/(record.two_points_made+record.two_points_miss).to_f,:precision => 2) %>
            <%end%>
        </td>
        <td><%= record.three_points_made %></td>
        <td><%= record.three_points_miss %></td>
        <td>
            <% if record.three_points_made ==0 %>
                0
            <% else %>
                <%= number_with_precision(record.three_points_made/(record.three_points_made+record.three_points_miss).to_f,:precision => 2) %>
            <%end%>
        </td>
        <td><%= record.defensive_rebound %></td>
        <td><%= record.offensive_rebound %></td>
        <td><%= record.defensive_rebound+record.offensive_rebound %></td>
        <td style="border-left:solid;border-left-color:#999;border-left-width:1px;"><%= record.assist %></td>
        <td><%= record.block %></td>
        <td><%= record.turn_over %></td>
        <td><%= record.steal %></td>
        <td><%= record.personal_foul %></td>
        <td><%= record.points_total %></td>
        <td><%= record.efficiency_formula %></td>
        <td>
            <% if @statusLevel ==3%> 
                <div class="btn-group pull-right">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to raw("<i class=\"icon-pencil\"></i> 編輯"), edit_record_path(record) %></li>
                    <li><%= link_to raw("<i class=\"icon-trash\"></i> 刪除"), record, method: :delete, data: { confirm: '刪除賽事，記錄會一併刪除！您確定要刪除嗎？' } ,:id => record.id %></li>
                  </ul>
                </div>
            <%end%>
        </td>
        <% #link_to 'Edit', edit_record_path(record) %>
        <% #button_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } ,:id => record %>
      </tr>
    <% end %>
    <% else %>
        <tr>
            <td colspan="23">
                尚無資料
            </td>
        </tr>
        <% end %>
    </table>
    <div class="pull-right">
        <%= link_to "返回",:back,:class=>"btn"%>
    </div>
</div>
>>>>>>> Eric
