<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="display:none">
    <%= f.label :h_team_id %><br />
    <%= f.number_field :h_team_id %>
  </div>
  <div class="field" style="display:none">
    <%= f.label :g_team_id %><br />
    <%= f.number_field :g_team_id %>
  </div>
  <div class="field" >
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
     <%= f.label :league_name %>
   <%= f.collection_select :league_id, League.order(:name),:id,:name, include_blank: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
