<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h2>賽事記錄<small>Games list</small></h2>
      <div class="row-fluid">
        <div class="span3 offset9">
          <%= link_to raw("<i class=\"icon-plus-sign icon-white\"></i> 新增球員"),{:action=>"new",:controller => "players",:id=>@init} ,class: "btn btn-primary"%>
          <%= link_to raw("<i class=\"icon-plus-sign icon-white\"></i> 新增賽事"),{:action=>"new",:controller => "games",:id=>@init},class: "btn btn-primary"%>
        </div>
      </div>
    </div>
  </div>
<hr>

<table class="table table-striped">
  <tr >
    <th>對手</th>
    <th>聯盟</th>
    <th>名稱</th>
    <th>日期</th>
    <th>地點</th>
    <th colspan="4"></th>
  </tr>

<% @games.each do |game| %>
  <tr>

    <td><%= game.name %></td>
    <td><%= League.find(game.league_id).name %></td>
    <td><%= game.name%></td>
    <td>
       <% if game.date_time%>
          <%= game.date_time.strftime("%Y-%m-%d") %>
        <% end%>
    </td>
    <td><%= game.location %></td>
    <td>
      <div class="btn-group">
        <a class="btn btn-primary" href="#"><i class="icon-th-list icon-white"></i> 功能</a>
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to raw("<i class=\"icon-plus-sign\"></i> 新增數據"), :controller => 'records', :action => 'new', :id => game %></li>
          <li class="divider"></li>
          <li><%= link_to raw("<i class=\"icon-search\"></i> 檢視"), :controller => 'records', :action => 'index', :id => game.id %></li>
          <li><%= link_to raw("<i class=\"icon-pencil\"></i> 編輯"), edit_game_path(game) %></li>
          <li><%= link_to raw("<i class=\"icon-trash\"></i> 刪除"), game, method: :delete, data: { confirm: 'Are you sure?' } ,:id => game %></li>
        </ul>
      </div>
    </td>
  </tr>
<% end %>
</table> 
</div>
