<div class="sign-up">
  <div class="container">
    
      <%= form_for("team_user", :url => team_user_session_path,:html =>{class: "form-login"}) do |f| %>
      <h2>請先登入<small>Sign in</small></h2>
      

      <%= f.email_field :email, :autofocus => true,:placeholder => "Email",class: "input-block-level" %><br/>
      <%= f.password_field :password,:placeholder => "Password",class: "input-block-level" %><br/>
      <%= f.submit "登錄",:class=>"btn btn-primary" %>
      <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
        <%= link_to "沒收到確認信嗎?", new_confirmation_path(resource_name) %>
      <% end %>
     
    <% end %>
  </div>
</div>