<!-- Slider -->

	<div class="web-carousel">
		
		<div class="web-carousel-wrapper">

			<ul class="web-carousel-container">
				<%= "得分王" %>
				<% if @lead_user_list[:points_total] == 0 %>
				<%= image_tag("/uploads/team_user/avatar/HeadIcon.jpg") %>
				<% else %>
				<% @userIag=TeamUser.find(@lead_user_list[:points_total])%>
				<%=image_tag(@userIag.avatar.url)%>
				<%= Player.find(@lead_list[:points_total].name) %>
				<% @players.each do |player| %>
				<li>
				       
					<div class="sc-content">
						<h2><%= link_to player.name, :controller => 'matches',:action => 'new' ,:id => @init%></h2>
					</div>
			
				</li>
				<% end %>

			</ul>
		</div>
	</div>
	<% if @players.any? ==false %>
	<div id="tips" class="tips tip-index-player" onClick="closeTip();">
		<p>⬅先新增一位球員吧！</p>
	</div>
	<% end %>

<!-- End Slider -->