<div class="index">

<!-- Slider -->

	<div class="sky-carousel">
		<div class="sky-carousel-wrapper">
			<ul class="sky-carousel-container">
				<li>
					<img src="/assets/people/3.jpg" alt="" />
					<div class="sc-content">
						<h2>陳冠銘</h2>
					</div>
				</li>
				<li>
					<img src="/assets/people/7.jpg" alt="" />
					<div class="sc-content">
						<h2>黃柏淞</h2>
					</div>
				</li>
				<% @players.each do |player| %>
				<li>
					<img src="/assets/people/6.jpg" alt="" />
					<div class="sc-content">
						<h2><%= player.name %></h2>
					</div>
				</li>
				<% end %>
				<li>
					<img src="/assets/people/8.jpg" alt="" />
					<div class="sc-content">
						<h2>陳楷</h2>
					</div>
				</li>
			</ul>
		</div>
	</div>


<!-- End Slider -->


  <div class="container">
  <h2>最新賽事記錄</h2>
  <table  class="table table-striped">
    <tr>
      <th>對手</th>
      <th>聯盟</th>
      <th>名稱</th>
      <th>時間</th>
   </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.name %></td>
    <td><%= League.find(game.league_id).name %></td>
    <td><%= game.name %></td>
    <td><%= game.created_at %></td>
  </tr>
<% end %>
</table>
  </div>
</div>