<div class="container">
<h1>Listing team_box_scores</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <p>
  <b>player_two_points_made:</b>
  <%= @sum[0] %>
</p>

<p>
  <b>hree_points_made:</b>
  <%= @sum[1] %>
</p>


</table>

<br />

</div>

<%= @leagues = League.find(:all, :order => "name") %>
<%= collection_select :league_id, League.order(:name),:id,:name, include_blank: true %>
<%= link_to 'league', :controller => 'team_box_scores', :action => 'index',:id => params[:id] %>

